{% case size %}
   {% when "m" %}
      {%- assign classes = 'text-lg py-2 pb-2.5 ' -%}
   {% else %}
      {%- assign classes = 'text-xl md:text-2xl py-2.5 md:py-4 ' -%}
{% endcase %}



<a
   href="{{ url }}" class="bg-[color:var(--primary)] font-headline text-[color:var(--secondary)] w-full lg:w-auto block lg:inline {{ classes }} leading-none px-8 md:px-10 text-center uppercase"
   title="{{ text }}">
   {{ text }}
</a>