<div class="w-[85px] h-[85px] bg-brand absolute top-0 left-1/2 rotate-45 grid origin-center place-content-center text-white -translate-x-1/2 -translate-y-1/2 z-[0]">
   <div class="w-[76px] rotate-[-45deg]">
      {%- render 'svg-footer-mark' -%}
   </div>
</div>