{% if section.settings.top_bar %}


   <div
      class="w-full  text-[color:var(--header-color)] bg-[color:var(--header-bg)] text-center px-6 items-center justify-center font-headline uppercase py-3"
      >
      {{ section.settings.text }}
   </div>
{% endif %}