<label
      class="block mb-1"
      for="qantity">Qty</label>
<div
   class="relative flex items-center justify-between w-full mb-2 leading-none border-2 border-gray-300">

   <button
      @click.prevent="decrease()"
      class="px-2 font-mono text-2xl md:text-base lg:text-2xl">
      -
   </button>
   <input
      :value="formData.qty"
      class="w-[40px] flex-1 p-0 font-mono md:w-[20px]  text-xl md:text-base lg:text-xl text-center bg-transparent font-bold tracking-widest"
      id="qantity"
      min="1"
      name="qantity"
      type="number">

   <button
      @click.prevent="increase()"
      class="px-2 font-mono text-2xl md:text-base lg:text-2xl">
      +
   </button>
</div>