<div class="grid grid-cols-5 gap-4">

   {% for icon in product.metafields.vermont.icons.value %}
      {% for block in section.blocks %}
         {% if block.type == "icon_choices" and block.settings.text == icon %}
            <div>
               <div class="mb-1 aspect-square">
                  {{ block.settings.icon | image_url: width: 2000 | image_tag: width: nil, class: 'w-full h-full object-fit' }}
               </div>
               <div class="text-xs text-center">
                  {{ block.settings.text }}
               </div>
            </div>
         {% endif %}
      {% endfor %}
   {% endfor %}

</div>