<div class="flex justify-between max-w-sm gap-4 text-xs text-center">

   <div class="flex flex-col items-start justify-center w-1/4 max-w-16">
      <div class="flex justify-center w-full h-16 mb-2 text-brand">
         {%- render 'svg-goat' -%}
      </div>
      <div class="">
         100% Goat Leather
      </div>
   </div>

   <div class="flex flex-col items-center justify-center">
      <div class="flex items-center justify-center w-full h-16 mb-2 text-brand">
         {%- render 'svg-glove' -%}
      </div>
      <div class="">
         Removeable Liner
      </div>
   </div>

   <div class="flex flex-col items-center justify-center">
      <div class="flex items-center justify-center w-full h-16 mb-2 text-brand">
         {%- render 'svg-nail' -%}
      </div>
      <div class="">
         Tuffer’n’ails
      </div>
   </div>

   <div class="flex flex-col items-center justify-center">
      <div class="flex items-center justify-center w-full h-16 mb-2 text-brand">
         {%- render 'svg-vermont' -%}
      </div>
      <div class="">
         Made In Vermont
      </div>
   </div>
</div>