@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'generic/wysiwyg';
@import 'generic/form-elements';

html {
  font-size: 16px;
}

body {
  @apply font-base text-primary;
}

[x-cloak] {
  display: none !important ;
}

// .shopify-policy__body {
//   @apply prose prose-headings:text-var(--theme-color-brand);
// }


details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
