<div class="container mx-auto flex flex-col items-center justify-between py-20 {% if section.settings.flip %}md:flex-row-reverse{% else %}md:flex-row{% endif %}" style="--primary:{{ section.settings.primary_color }};--secondary:{{ section.settings.secondary_color }};">

   <div class="w-full px-4 md:w-1/2">
      {%- render 'image', image: section.settings.image, classes: 'w-full  ' -%}
   </div>
   <div class="w-full px-4 md:w-1/2">
      <div class="text-4xl lg:text-5xl uppercase font-display text-[color:var(--primary)] mb-5">
         {{ section.settings.title | newline_to_br}}
      </div>

      {%- render 'button', url: section.settings.button_url, text: section.settings.button_text, size: "m" -%}

   </div>

</div>

{% schema %}
{
   "name": "Image + Title",
   "settings": [
   {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
   },
   {
      "type": "textarea",
      "id": "title",
      "label": "Title"
   },
   {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
   },
   {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
   },
  {
     "type": "color",
     "id": "primary_color",
     "label": "Primary Color",
     "default": "#452C80"
  },
  {
   "type": "color",
   "id": "secondary_color",
   "label": "Secondary Color",
   "default": "#ffffff"
},
{
   "type": "checkbox",
   "id": "flip",
   "label": "Flip?",
   "default": false
}
   ],
   "presets": [
         {
            "name": "Image + Title"
         }
      ]
}
{% endschema %}