<script src="https://apps.elfsight.com/p/platform.js" defer></script>

<div class="container mx-auto mt-20 mb-40 ig-feed">

   <div class="mb-8 text-3xl text-center uppercase font-headline text-brand">
      {{ section.settings.title }}
   </div>

   <div class="elfsight-app-c5e13c88-7525-4c62-9a7e-8d8173c0fd3e"></div>
</div>

{% schema %}
{
   "name": "Instagram",
   "settings": [
      {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "In Action"
      }
   ],
   "presets": [
         {
            "name": "Instagram"
         }
      ]
}
{% endschema %}