{% assign current_variant = product.selected_or_first_available_variant %}


<div
   class="container relative gap-4 mx-auto product-container md:flex md:px-0">


   <div
      class="top-0 block  md:w-8/12">
      <div class="product-images">
         {%- render 'product-images' -%}
      </div>
   </div>

   <div

      class="md:w-4/12">


      <div
         class="pb-10 product-info">

         <h1
            class="text-4xl font-headline ">{{ product.title }}</h1>




         {% render 'product-form', product: product %}

         <div class="mt-6">
            {%- render 'product-icons' -%}
         </div>

      </div>
   </div>

</div>


{% schema %}
{
   "name": "Product",
   "settings": [
   ],
   "blocks": [
         {
            "name": "Add On Product",
            "type": "add_on_product",
            "settings": [
               {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
               }
            ]
         }
      ]
}
{% endschema %}