<div
   :class="newsletterOpen ? 'flex' : 'hidden'"
   class="fixed w-full h-screen top-0 z-[100]  items-center justify-center bg-[rgba(183,129,169,0.8)] text-accent">
   <button
      @click.prevent="newsletterOpen = !newsletterOpen"
      class="absolute top-0 left-0 z-10 w-full h-full"></button>
   <div
      class="w-[91%] max-w-[694px] relative rounded-[10px] flex flex-col justify-center items-center overflow-hidden border-secondary md:border-[14px]">
      <div
         class="absolute top-0 left-0 z-0 w-full h-full">
         {%- render 'image', image: section.settings.background, classes: 'w-full h-full object-cover' -%}
      </div>

      <button
         @click.prevent="newsletterOpen = !newsletterOpen"
         class="w-[21px] absolute z-30 md:top-27px md:left-[35px] top-[34px]">
         {%- render 'svg-top-bar-close' -%}
      </button>

      <div
         class="relative z-20 pt-32 pb-16 text-center">
         <div
            class="text-[28px] md:text-[48px] md:px-[65px] leading-snug font-display italic mb-6">
            {{ section.settings.title }}
         </div>
         <div
            class="uppercase font-mono text-[12px] md:text-[20px] mb-10">
            {{ section.settings.text }}
         </div>
         <form
            action=""
            class="mx-[47px] md:mx-[100px] flex items-center relative">
            <input
               class="w-full text-[12px] bg-transparent pr-[125px] rounded-[10px] p-3 border border-accent placeholder:text-accent font-mono text-accent"
               placeholder="EMAIL"
               type="email">

               <button type="submit" class="absolute right-[14px] w-24 text-accent">
                  {%- render 'svg-submit-arrow' -%}
               </button>
         </form>
      </div>
   </div>
</div>

{% schema %}

{
   "name": "Newsletter",
   "settings": [
      {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Sign up for more Sweetness"
      }, {
         "type": "text",
         "id": "text",
         "label": "Text",
         "default": "and GET 10% OFF YOUR FIrst ORDER"
      }, {
         "type": "image_picker",
         "id": "background",
         "label": "Background"
      }
   ]
}

{% endschema %}
